<html lang="en">

<script>
  async function translateToEnglish() {
    const inputText = document.getElementById('french-input').value;
    const result = document.getElementById('result');
    const targetLanguage = document.getElementById('input-language').value;

    const translation = await fetch(`http://localhost:5000/${targetLanguage}?text=${inputText}`);
    const json = await translation.json();

    result.innerText = json.result;
  }
</script>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Translator</title>
</head>

<body>
  <label>Target</label>
  <select id="input-language">
    <option value="englishToFrench">French</option>
    <option value="frenchToEnglish">English</option>
  </select>
  <input type="text" id="french-input">
  <button onclick="translateToEnglish()">Translate</button>
  <p id="result"></p>
</body>

</html>